@using SimulasiyaPronia.ViewModels

@model LoginVM
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Login Page</p>
        </div>

        <form asp-action="Login" method="post">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">


                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email *" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password *" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>


                    </div>
                </div>

                <button type="submit" class="btnSubmit">Submit</button>
            </div>
        </form>
    </div>
</div>