       <!-- DataTales Example -->
       @using SimulasiyaPronia.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    int counter = 1;
}

@model List<Category>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example

            <button class="btn-primary" asp-area="admin" asp-controller="category" asp-action="Create">Create</button>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Id</th>
                                <th>Name</th>
                                
                                <th>Delete</th>
                                <th>Edit</th>


                            </tr>
                        </thead>

                        <tbody>
                    @foreach (var product in Model) 
                    { 
                                    <tr>
                                    <td>@counter</td> 
                                         <td>@product.Id</td>
                                       <td>@product.Name</td> 
                                 
                           <td>Delete</td> 
                                         <td>Edit</td>


                               </tr> 
                    } 






                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    